.title {
    color: $accentText;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;

    /* Mobile */
    @media (max-width: 899px) {
            font-size: 14px;
    }
}